fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
pandas>=1.4.1
minio>=7.1.5
pyarrow>=7.0.0
fastparquet>=0.8.0
s3fs
python-jose==3.3.0
passlib==1.7.4
requests>=2.27.1
ipython
celery>=5.2
mlflow==1.25.1
boto3
python-multipart