# MacOS
.DS_Store
*/.idea/*
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/

# Extra
.vscode/
venv/
env/
.env
mlruns/
cloudbuild.yaml

