fastapi
python-jose
uvicorn
celery
orjson
kombu
passlib
pydantic
python-dotenv
httpx
python-multipart
bcrypt
asyncpg
fastapi-users[sqlalchemy]
sqlalchemy
sqlalchemy_utils
pandas
pydantic-settings
click
ray[air]
docker
mlflow==2.0.1