fastapi
python-jose
uvicorn
celery
orjson
kombu
passlib
pydantic
python-dotenv
httpx
python-multipart
bcrypt
asyncpg
sqlalchemy>=2.0
sqlalchemy_utils
pandas
pydantic-settings
click
ray[air]
docker
mlflow==2.5
pytest