skorch_forecasting/
celery>=5.2
boto3==1.24.59
cloudpickle==2.1.0
psycopg2
mlflow==1.25.1
minio>=7.1.5
pyarrow>=7.0.0
fastparquet>=0.8.0
s3fs>=2022.2.0
fastapi>=0.68.0
uvicorn[standard]
awswrangler>=2.16.1