fastapi>=0.68.0,<0.69.0
bcrypt==4.0.1
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
python-jose==3.3.0
passlib==1.7.4
requests>=2.27.1
ipython
celery>=5.2
setuptools>=58.1.0
python-multipart==0.0.5
orjson==3.8.1
click==8.1.3

